<mat-card>
  <mat-card-title>Forecast</mat-card-title>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip color="accent">Overdue (3)</mat-chip>
      <mat-chip color="accent">Today (1)</mat-chip>
      <mat-chip color="accent">Tuesday (0)</mat-chip>
      <mat-chip color="accent">Wednesday (1)</mat-chip>
      <mat-chip color="accent">Thursday (2)</mat-chip>
      <mat-chip color="accent">Friday (0)</mat-chip>
      <mat-chip color="accent">Saturday (1)</mat-chip>
      <mat-chip color="accent">Sunday (0)</mat-chip>
      <mat-chip color="accent">Future</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
